<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- OBSERVAÇÃO:
            - O TÍTULO TEM QUE SER CONDIZENTE COM O CONTEÚDO, COMO SE AS "PALAVRAS-CHAVE" ESTIVESSEM ALI.
            - É NORMA QUE AS DESCRIÇÕES DEVEM TER NO MÁXIMO 160 CARACTERES.
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title> Webdev | Matheus das Chagas Santos </title>
        <link rel="icon" href="./static/imgs/caminho-para-seu-favicon.ico" type="image/x-icon">
        <!-- Social Metatags -->
        <meta name="description" content="Breve descrição da sua página">
        <meta property="og:title" content="Título da Sua Página">
        <meta property="og:description" content="Breve descrição da sua página">
        <meta property="og:type" content="website">
        <meta property="og:url" content="URL-da-Sua-Página">
        <meta property="og:image" content="URL-da-Imagem">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Título da Sua Página">
        <meta name="twitter:description" content="Breve descrição da sua página">
        <meta name="twitter:image" content="URL-da-Imagem">
        <meta name="google-site-verification" content="Suas Credenciais Aqui">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/animations.css">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- 
            EXISTEM OUTRAS TAGS PARA INSERIR, COMO PIXEL(DO FACEBOOK), O ANALYTICS(DO GOOGLE), E ENTRE OUTRAS, MAS NECESSITA QUE O CLIENTE JÁ TENHA UMA CONTA EM UM DOS DOIS PARA ESTARMOS INTEGRANDO ESSAS API's AO SITE, ALÉM DO SITE JÁ TER SIDO LANÇADO.
        -->
        <script src="https://kit.fontawesome.com/1959ade8c4.js" crossorigin="anonymous"></script>

    </head>
    <body> 
        {% block pagina %}
        {% endblock %}
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js" integrity="sha512-RShXKLsEuWDEo16rDAnxSEE3ZsCb9fH6/khyQqoFN3h6fybkaIb4EW5DTqQNNkCG7SsWGPtiU8dppBdFxeC/gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../static/js/smoothscrolling.js"></script>
        <script src="../static/js/scrollheader.js"></script>
        <script src="../static/js/charcount.js"></script>
        <script src="../static/js/headerhover.js"></script>
        <script src="../static/js/headerselected.js"></script>
    </body>
</html>